replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent

containerPort: 80

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  host: ""
  tls:
    enabled: true
    secretName: ""

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
